@model IList<Nemocnice.application.ViewModels.LekarskaZpravaPredpisViewModel>

@section Styles
{
    <link rel="stylesheet" href="~/css/predpis.css" />
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Předpis ID</th>
                <th>Typ Léku</th>
                <th>Název Léku</th>
                <th>Čas podání</th>
                <th>Lékařská zpráva ID</th>
                <th>Zpráva</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var predpis in Model)
            {
                <tr>
                    <td>@predpis.Predpis.Id</td>
                    <td>@predpis.Predpis.TypLeku</td>
                    <td>@predpis.Predpis.NazevLeku</td>
                    <td>@predpis.Predpis.CasPodani</td>
                    <td>@predpis.LekarskaZprava.LekarskaZpravaId</td>
                    <td>@predpis.LekarskaZprava.Zprava</td>
                    <td>@predpis.LekarskaZprava.Datum</td>
                </tr>
            }
        </tbody>
    </table>
</div>