@model IList<Nemocnice.application.ViewModels.KartaPredpisViewModel>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Karta ID</th>
                <th>Předpis ID</th>
                <th>Typ Léku</th>
                <th>Název Léku</th>
                <th>Čas podání</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sluzba in Model)
            {
                <tr>
                    <td>@sluzba.Karta.KartaId</td>
                    <td>@sluzba.Predpis.Id</td>
                    <td>@sluzba.Predpis.TypLeku</td>
                    <td>@sluzba.Predpis.NazevLeku</td>
                    <td>@sluzba.Predpis.CasPodani</td>
                </tr>
            }
        </tbody>
    </table>
</div>
