@model IList<Nemocnice.application.ViewModels.LekarskaZpravaPredpisViewModel>

@section Styles
{
        <link rel="stylesheet" href="~/css/predpis.css" />
}

<h1>Vaše předpisy</h1>


<a asp-action="Create" class="btn btn-success my-3">Create předpis</a>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Předpis ID</th>
                <th>Typ Léku</th>
                <th>Název Léku</th>
                <th>Čas podání</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var predpis in Model)
            {
                    <tr>
                        <td>@predpis.Predpis.Id</td>
                        <td>@predpis.Predpis.TypLeku</td>
                        <td>@predpis.Predpis.NazevLeku</td>
                        <td>@predpis.Predpis.CasPodani</td>
                    <td><a asp-action="Edit" asp-route-id="@predpis.Predpis.Id" class="btn btn-warning">Edit</a></td>
                    </tr>
            }
        </tbody>
    </table>
</div>