@model IList<Nemocnice.application.ViewModels.LekarskaZpravaPredpisViewModel>

<a asp-action="Create" class="btn btn-info mb-3">Create předpis</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Předpis ID</th>
                <th>Karta ID</th>
                <th>Lekařská zpráva ID</th>
                <th>Typ Léku</th>
                <th>Název Léku</th>
                <th>Čas podání</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sluzba in Model)
            {
                <tr>
                    <td>@sluzba.Predpis.Id</td>
                    <td>@sluzba.LekarskaZprava.KartaId</td>
                    <td>@sluzba.LekarskaZprava.LekarskaZpravaId</td>
                    <td>@sluzba.Predpis.TypLeku</td>
                    <td>@sluzba.Predpis.NazevLeku</td>
                    <td>@sluzba.Predpis.CasPodani</td>
                    <td><a asp-action="Edit" asp-route-id="@sluzba.Predpis.Id" class="btn btn-warning">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@sluzba.Predpis.Id" class="btn btn-danger" onclick="return ConfirmDelete();">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/site.js"></script>
}