@model IList<User>

@{
    ViewData["Title"] = "Hospital Administration";
    var myUser = new User();
}
<h1>@ViewData["Title"]</h1>

<a asp-action="Create">Create User</a>

@{
    if (Model != null && Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@nameof(myUser.Id)</th>
                    <th scope="col">@nameof(myUser.Jmeno)</th>
                    <th scope="col">@nameof(myUser.Prijmeni)</th>
                    <th scope="col">@nameof(myUser.Email)</th>
                    <th scope="col">@nameof(myUser.Telefon)</th>
                    <th scope="col">@nameof(myUser.Heslo)</th>
                    <th scope="col">@nameof(myUser.DatumNarozeni)</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; ++i)
                {
                    User user = Model[i];
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.Jmeno</td>
                        <td>@user.Prijmeni</td>
                        <td>@user.Email</td>
                        <td>@user.Telefon</td>
                        <td>@user.Heslo</td>
                        <td>@user.DatumNarozeni.ToShortDateString()</td>
                        <td><a asp-action="Delete" asp-route-id="@user.Id" onclick="return ConfirmDelete();">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>Pacient table is empty!</p>
    }
}

@section Scripts
{
    <script src="~/js/site.js"></script>
}