@model IList<User>

@{
    ViewData["Title"] = "Hospital Administration";
}
<h1>@ViewData["Title"]</h1>

<a asp-action="Create">Create Pacient</a>

@{
    if (Model != null && Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@nameof(User.Id)</th>
                    <th scope="col">@nameof(User.Jmeno)</th>
                    <th scope="col">@nameof(User.Prijmeni)</th>
                    <th scope="col">@nameof(User.Email)</th>
                    <th scope="col">@nameof(User.Telefon)</th>
                    <th scope="col">@nameof(User.Heslo)</th>
                    <th scope="col">@nameof(User.DatumNarozeni)</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; ++i)
                {
                    User pacient = Model[i];
                    <tr>
                        <th scope="row">@pacient.Id</th>
                        <td>@pacient.Jmeno</td>
                        <td>@pacient.Prijmeni</td>
                        <td>@pacient.Email</td>
                        <td>@pacient.Telefon</td>
                        <td>@pacient.Heslo</td>
                        <td>@pacient.DatumNarozeni.ToShortDateString()</td>
                        <td><a asp-action="Delete" asp-route-id="@pacient.Id" onclick="return ConfirmDelete();">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>Pacient table is empty!</p>
    }
}

@section Scripts
{
    <script src="~/js/site.js"></script>
}