@model IList<Nemocnice.application.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Administrace Uživatelů";
    UserViewModel myUser = new UserViewModel();
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-success my-3">Create User</a>

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">@nameof(myUser.Id)</th>
                    <th scope="col">@nameof(myUser.FirstName)</th>
                    <th scope="col">@nameof(myUser.LastName)</th>
                    <th scope="col">@nameof(myUser.UserName)</th>
                    <th scope="col">@nameof(myUser.Email)</th>
                    <th scope="col">@nameof(myUser.PhoneNumber)</th>
                    <th scope="col">Karta ID</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; ++i)
                {
                    UserViewModel user = Model[i];
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.KartaId</td>
                        <td><a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning btn-sm">Edit</a></td>
                        <td><a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm" onclick="return ConfirmDelete();">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="alert alert-info">Pacient table is empty!</p>
}

@section Scripts
{
    <script src="~/js/site.js"></script>
}