@model IList<Nemocnice.application.ViewModels.OrdinaceViewModel>

<h2>Seznam ordinací</h2>

<a asp-action="Create" class="btn btn-success my-3">Create Ordinace</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Budova</th>
            <th>Místnost</th>
            <th>Doktor ID</th>
            <th>Image</th>
            <th>ImageSrc</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ordinace in Model)
        {
            <tr>
                <td>@ordinace.OrdinaceId</td>
                <td>@ordinace.Budova</td>
                <td>@ordinace.Mistnost</td>
                <td>@ordinace.DoktorId</td>
                <td>@ordinace.Image</td>
                <td>@ordinace.ImageSrc</td>
                <td><a asp-action="Edit" asp-route-id="@ordinace.OrdinaceId" class="btn btn-warning btn-sm">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@ordinace.OrdinaceId" class="btn btn-danger btn-sm" onclick="return ConfirmDelete();">Delete</a></td>
            </tr>
        }
    </tbody>
</table>