<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ukon</th>
            <th>Ockovani</th>
            <th>Vysetreni</th>
            <th>Datum</th>
            <th>Budova</th>
            <th>Mistnost</th>
            <th>Lekarska Zprava</th>
            <th>Predpis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sluzba in Model.LekarskeSluzby)
        {
            <tr>
                <td>@sluzba.Id</td>
                <td>@sluzba.Ukon</td>
                <td>@sluzba.Ockovani</td>
                <td>@sluzba.Vysetreni</td>
                <td>@sluzba.Datum</td>
                <td>@sluzba.Budova</td>
                <td>@sluzba.Mistnost</td>
                <td>
                    <ul>
                        @foreach (var zprava in sluzba)
                        {
                            <li>@zprava.Zprava (@zprava.Datum)</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var predpis in sluzba.Predpisy)
                        {
                            <li>@predpis.TypLeku - @predpis.NazevLeku (@predpis.CasPodani)</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
