@model Nemocnice.application.ViewModels.LekarskeSluzbyViewModels
<h1>@ViewData["Title"]</h1>
<h2>Seznam Lékařských Služeb</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="gap-5">
                <th>Id</th>
                <th>Úkon</th>
                <th>Očkování</th>
                <th>Vyšetření</th>
                <th>Budova</th>
                <th>Místnost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sluzba in Model.LekarskeSluzby)
            {
                var ordinace = Model.Ordinace.FirstOrDefault(o => o.Id == sluzba.OrdinaceID);
                <tr>
                    <td>@sluzba.Id</td>
                    <td>@sluzba.Ukon</td>
                    <td>@sluzba.Ockovani</td>
                    <td>@sluzba.Vysetreni</td>
                    <td>@(ordinace?.Budova ?? "N/A")</td>
                    <td>@(ordinace?.Mistnost ?? "N/A")</td>
                </tr>
            }
        </tbody>
    </table>
</div>